/*css sedona*/

body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
	background-color: #ffffff;
}

a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0;
}

img {
	border: none;
}

/*header*/

.main-navigation {

	color: #000000;
	background-color: #ffffff;

}

.site-navigation {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-logo {
	margin-bottom: -20px;
	z-index: 1;
}

.site-navigation li {
	display: inline-block;
	line-height: 26px;
	font-weight: 700;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
	color: #c7c7c7;
}

.site-navigation a:active {
	color: #bfb6b1;
}

.intro {
	position: relative;
	min-height: 507px;
	/*background-image: url("img/background.jpg"), url("img/shape-24.png");*/
	background-image: url("../img/shape-24.png"), url("../img/background.jpg");
	background-repeat: no-repeat;
	background-position: 50% bottom, 50% -50px;
	background-size: auto, 1200px 773px;
}

.intro img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

/*main*/

.visually-hidden {
	display: none;
}

.reasons {
	min-width: 768px;
	padding: 50px;
	background-color: #ffffff;
}

.reasons p {
	text-align: center;
}

.reasons-header {
	margin-bottom: 35px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.advantage {
	display: flex;
	margin: 0;
	padding: 0;
	color: #ffffff;
	background-color: #81b3d2;
}

.advantage-text {
	padding: 45px 60px 60px;
}

.advantage-text p:nth-child(2) {
	margin: 20px 0;
}

.advantage-title {
	margin: 0;
	white-space: pre-line;
	font-size: 21px;
	line-height: 21px;
}

.advantage-image {
	height: 256px;
}

.features	 {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
}

.features	li {
	width: 33%;
	margin: 60px 0 80px;
	padding: 0 60px;
}

.features	 h3 {
	margin: 30px 0;
	font-size: 21px;
	line-height: 21px;
}

.advantage-brife {
	display: flex;
	padding: 0;
	margin: 0;
	min-height: 256px;
	list-style: none;
	background-color: #eeeeee;
}

.advantage-brife li {
	padding: 45px 60px 60px;
}

.advantage-brife h3 {
	font-size: 21px;
	line-height: 21px;
}

.booking {
	/*min-height: 250px;*/
	padding: 50px 0 0;
	margin: 0;
}

.booking h2 {
	margin: 0;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
}

.booking p {
	margin: 30px 0 50px;
	white-space: pre-line;
}

.button {
	display: block;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
}

.show-searchform {
	width: 565px;
	height: 85px;
	margin: 0 auto;
	background-color: #766357;
}

.show-searchform:hover,
.show-searchform:focus {
	background-color: #604e43;
}
.button-search:active {
	background-color: #503e33;
}

.index-map {
	margin: 0;
	padding: 0;
}

/*footer*/

.main-footer {
	padding: 35px 0;
	position: relative;
	margin: -100px 0 0;
	background-color: #ffffff;
}

.main-footer .container {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.footer-adress {
	width: 33%;
	font-size: 21px;
	line-height: 48px;
	font-weight: 700;
}

.footer-social {
	width: 33%;
}

.footer-social a {
	display: inline-block;
	width: 48px;
	line-height: 48px;
	background-color: #81b3d2;
}

.footer-social a:hover {
	background-color: #669ec0;
}

.footer-social a:active {
	background-color: #5496bd;
}

.footer-social img {
	display: inline-block;
	vertical-align: middle;
}

.footer-copywrite {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 33%;
}

.footer-copywrite span {
	padding-right: 10px;
}

.footer-copywrite img:hover {
		background-image: url("../img/htmlacademy-logo-hover-24.png");
}

/*modal form*/

.search-form {
	padding: 55px 35px;
}

.search-form p {
	margin: 30px 0;
}

.search-form label {
	line-height: 26px;
	font-weight: 700;
}

.date-input {
	width: 340px;
	height: 40px;
}

.button-search {
	width: 460px;
	height: 60px;
	background-color: #81b3d2;
}
