/*css sedona*/

body {
	margin: 0;
	padding: 0;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.inner-page {

}

a {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0;
}

img {
	border: none;
}

/*header*/

.main-navigation {
	display: flex;
	justify-content: space-between;
	color: #000000;
	font-weight: 700;
	line-height: 26px;
	background-color: #ffffff;
}

.main-navigation a {
	color: #000000;
}

.main-navigation a:hover {
	color: #81b3d2;
}

.main-navigation a:focus {
	color: #766357;
}

.main-navigation a:active {
	opacity: 0.3;
}

.top-menu-left,
.top-menu-right {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 460px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.main-logo {
	margin-bottom: -15px;
	line-height: 0;
	z-index: 1;
}

.intro {
	position: relative;
	min-height: 507px;
	background-image: url("../img/shape-24.png"), url("../img/background.jpg");
	background-repeat: no-repeat;
	background-position: 50% bottom, 50% -50px;
	background-size: auto, 1200px 773px;
}

.intro img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
}

.inner-page .container {
	text-align: unset;
}

/*index*/

.visually-hidden {
	display: none;
	margin: 0;
	padding: 0;
}

.reasons {
	min-width: 768px;
	padding: 50px;
	background-color: #ffffff;
}

.reasons p {
	text-align: center;
}

.reasons-header {
	margin-bottom: 35px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.advantage {
	display: flex;
	margin: 0;
	padding: 0;
	color: #ffffff;
	background-color: #81b3d2;
}

.advantage-text {
	padding: 45px 60px 60px;
}

.advantage-text p:nth-child(2) {
	margin: 20px 0;
}

.advantage-title {
	margin: 0;
	white-space: pre-line;
	font-size: 21px;
	line-height: 21px;
}

.advantage-image {
	height: 256px;
}

.features	 {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #ffffff;
}

.features	li {
	width: 33%;
	margin: 60px 0 80px;
	padding: 0 60px;
}

.features	 h3 {
	margin: 30px 0;
	font-size: 21px;
	line-height: 21px;
}

.advantage-brife {
	display: flex;
	padding: 0;
	margin: 0;
	min-height: 256px;
	list-style: none;
	background-color: #eeeeee;
}

.advantage-brife li {
	padding: 45px 60px 60px;
}

.advantage-brife h3 {
	font-size: 21px;
	line-height: 21px;
}

.booking {
	padding: 50px 0 0;
	margin: 0;
	background-color: #ffffff;
}

.booking h2 {
	margin: 0;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
}

.booking p {
	margin: 30px 0 50px;
	white-space: pre-line;
}

.button {
	display: block;
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	color: #ffffff;
}

.index-button {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.show-searchform {
	width: 565px;
	height: 85px;
	margin: 0 auto;
	background-color: #766357;
}

.show-searchform:hover,
.show-searchform:focus {
	background-color: #604e43;
}
.button-search:active {
	background-color: #503e33;
}

.index-map {
	margin: 0;
	padding: 0;
}

/*hotels*/

.hotel-filters {
	min-height: 160px;
	padding: 30px 70px;
	color: #ffffff;
	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
	background-position: 50% -50px;
	background-size: 1200px 562px;
}

.filter-form fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.filter-form legend {
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 20px;
}

.filter-form ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.hotel-columns {
	display: flex;
	width: 100%;
}

.infrastructure-filter {
	width: 255px;
}

.housetype-filter {
	width: 275px;
}

.cost-filter {
 	display: flex;
	justify-content: flex-end;
	padding-left: 100px;
	width: 50%;
}

.cost-filter legend {
	margin-bottom: 10px;
}

.filter-table {
	width: 320px;
	margin-bottom: 10px;
	border: 1px solid #ffffff;
	border-collapse: collapse;
	border-spacing: 0;
}

.filter-table td {
	border: 1px solid #ffffff;
}

.button-show {
	font-size: 16px;
	background-color: transparent;
	border: 1px solid #ffffff;
}

.sorting-hotels {
	padding: 30px 70px;
	border-bottom: 1px solid #f2f2f2;
}

.sorting-sum {
	display: inline-block;
	min-width: 160px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.sorting-hotels span:nth-child(2) {
	font-size: 12px;
	line-height: 18px;
}

.sorting-hotels ul {
	display: inline-block;
	margin: 0;
	padding-left: 35px;
	font-size: 12px;
	line-height: 18px;
	list-style: none;
}

.sorting-item {
	display: inline-block;
	padding-right: 30px;
}

.sorting-item .active {
	color: #81b3d2;
}

.sorting-item a {
	color: #b2b2b2;
}

.sorting-item a:hover,
.sorting-item a:focus {
	color: #81b3d2;
}

.sorting-item a:active {
	color: #000000;
}

.hotel-list,
.rating-stars {
	list-style: none;
}

.hotel-list {
	margin: 0;
	padding: 0;
}

.hotel-item {
	display: flex;
	padding: 30px 70px;
	border-bottom: 1px solid #f2f2f2;
}

.hotel-item img {
	margin-right: 30px;
}

.hotel-description {
	display: flex;
	flex-wrap: wrap;
}

.hotel-description h3 {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 21px;
}

.hotel-description .button {
	margin: 0;
}

.hotel-description span {
	color: #333333;
}

.hotel-details {
	margin-right: 10px;
}

.hotel-details,
.hotel-booking {
	display: flex;
	min-height: 56px;
	flex-direction: column;
	justify-content: space-between;
}

.hotel-details a {
	width: 110px;
	height: 27px;
	line-height: 27px;
	font-weight: 700;
	background-color: #81b3d2;
}

.booking-button {
	width: 140px;
	height: 27px;
	font-weight: 700;
	background-color: #766357;
}

.hotel-rating {
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: flex-end;
	align-items: flex-end;
}

.sum-rating {
	display: block;
	width: 110px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #666666;
	background-color: #f2f2f2;
}

/*footer*/

.main-footer {
	padding: 35px 0;
	position: relative;
	margin: -100px 0 0;
	text-align: center;
	background-color: #ffffff;
}

.inner-page .main-footer {
	margin: 0;
}

.main-footer .container {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.footer-adress {
	width: 33%;
	font-size: 21px;
	line-height: 48px;
	font-weight: 700;
}

.footer-social {
	width: 33%;
}

.footer-social a {
	display: inline-block;
	width: 48px;
	line-height: 48px;
	background-color: #81b3d2;
}

.footer-social a:hover {
	background-color: #669ec0;
}

.footer-social a:active {
	background-color: #5496bd;
}

.footer-social img {
	display: inline-block;
	vertical-align: middle;
}

.footer-copywrite {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 33%;
}

.footer-copywrite span {
	padding-right: 10px;
}

.footer-copywrite img:hover {
		background-image: url("../img/htmlacademy-logo-hover-24.png");
}

/*modal form*/

.search-form {
	padding: 55px 35px;
}

.search-form p {
	margin: 30px 0;
}

.search-form label {
	line-height: 26px;
	font-weight: 700;
}

.date-input {
	width: 340px;
	height: 40px;
}

.button-search {
	width: 460px;
	height: 60px;
	background-color: #81b3d2;
}
